<p>Ask your coach anything:</p>

<form action="answer" data-turbo="false" method="get">

 <div class="input-group mb-3">
  <input type="text" name="question">
  <input class=btn-primary type="submit" value="Ask!">
</div></form>
